.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 30px;
	margin: 0 auto;
	@media (max-width: 991px) {
		padding: 40px 10px;
	}

	&__block {
		display: flex;
		@media (max-width: 991px) {
			width: 100%;
			justify-content: space-between;
		}
	}

	&__block:first-of-type {
		flex-direction: column;
		@media (max-width: 991px) {
			align-items: center;
		}
	}

	&__name {
		font-family: var(--f-montserrat);
		font-size: var(--fz-title);
		color: var(--light-black);
		font-weight: 900;
		line-height: 1.2;
		@media (max-width: 991px) {
			font-size: 30px;
		}
		@media (max-width: 480px) {
			font-size: 25px;
		}
	}

	&__description {
		font-family: var(--f-roboto);
		font-size: 15px;
		font-weight: 400;
		padding: 5px 0 0 2px;
		color: var(--grey-05);
		line-height: 1.2;
	}

	&__adv-block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 25px 0 0 30px;
		@media (max-width: 991px) {
			padding: 15px 20px 0;
		}
	}

	&__adv-block:first-of-type {
		@media (max-width: 991px) {
			align-items: flex-start;
		}
	}

	&__block-top-p {
		font-family: var(--f-roboto);
		font-size: 15px;
		font-weight: 400;
		color: var(--grey-06);
		margin-bottom: 7px;
		line-height: 1.2;
		@media (max-width: 991px) {
			margin-bottom: 8px;
		}
		@media (max-width: 640px) {
			font-size: 13px;
		}
	}

	&__block-bottom-p {
		font-family: var(--f-roboto);
		font-size: 20px;
		color: var(--light-black);
		font-weight: 900;
		font-style: normal;
		line-height: 1.2;
		@media (max-width: 991px) {
			line-height: 1;
		}
		@media (max-width: 640px) {
			font-size: 17px;
		}
	}

	&__phone-link {
		transition: ease-in-out 0.2s;
		font-size: 23px;
		line-height: 1.3;
		font-weight: 900;
		@media (max-width: 640px) {
			font-size: 18px;
		}
	}

	&__phone-link:hover,
	&__phone-link:focus {
		color: var(--orange);
		transition: ease-in-out 0.2s;
	}
}
.sticky {
	position: fixed;
	top: 0;
	z-index: 10;
}
.header-menu {
	background-color: var(--black);
	width: 100%;
	display: flex;
	justify-content: center;
	@media (max-width: 767px) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		display: block;
		background-color: inherit;
	}
	&__wrapper {
		width: var(--block-width);
		@media (max-width: 767px) {
			left: 100%;
			position: absolute;
			transition: ease-in-out 0.2s;
		}
	}

	&__links-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		@media (max-width: 767px) {
			display: block;
		}
	}

	&__link-box {
		position: relative;
	}

	&__link-box::before {
		content: "|";
		color: var(--white);
		@media (max-width: 767px) {
			content: "";
		}
	}

	&__link-box:hover &__popup-link-box {
		display: flex;
	}

	&__link {
		display: inline-flex;
		padding: 30px 25px 25px;
		color: var(--white);
		font-family: var(--f-roboto);
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.4;
		transition: ease-in-out 0.2s;
		@media (max-width: 991px) {
			padding: 20px 15px;
			font-size: 12px;
		}
		@media (max-width: 767px) {
			border-bottom: 1px solid var(--white-02);
			width: 100%;
		}
	}

	&__link:hover,
	&__link:focus {
		color: var(--orange);
		transition: ease-in-out 0.2s;
	}

	&__popup-link-box {
		display: none;
		position: absolute;
		top: 100%;
		z-index: 10;
		flex-direction: column;
		padding: 10%;
		min-width: 300px;
		border-top: none;
		background-color: var(--white);
		@media (max-width: 767px) {
			display: block;
			position: relative;
			padding: 0;
			background-color: inherit;
		}
	}

	&__popup-link-link {
		padding: 15px 25px;
		border: none;
		cursor: pointer;
		display: block;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 2px;
		text-decoration: none;
		color: #333;
		font-size: 15px;
		line-height: 1.4;
		position: relative;
		font-family: var(--f-roboto);
		margin-bottom: 1px;
		transition: ease-in-out 0.05s;
		@media (max-width: 767px) {
			color: var(--white);
			background-color: var(--orange-40);
			text-transform: uppercase;
			font-size: 12px;
			font-family: var(--f-roboto);
			font-weight: bold;
			border-bottom: 1px solid var(--white-02);
			padding-left: 15px;
		}
	}

	&__popup-link-link:hover {
		background: var(--black);
		color: #fff;
		transition: ease-in-out 0.05s;
	}
}
.header-burger {
	display: none;
}
.overlay {
	display: none;
	right: 100%;
	transition: ease-in-out 0.2s;
}
@media (max-width: 767px) {
	.header-burger {
		margin-left: auto;
		position: relative;
		width: 50px;
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--orange-80);

		&__line {
			background-color: var(--white);
			width: 60%;
			height: 2px;
			transition: ease-in-out 0.2s;
		}
	}
	.overlay.active {
		display: block;
		position: absolute;
		box-sizing: content-box;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		background: var(--black-1f);
		opacity: 0.7;
		filter: alpha(opacity = 50);
		transition: ease-in-out 0.2s;
	}
	.header-burger:before,
	.header-burger:after {
		content: "";
		background-color: var(--white);
		position: absolute;
		width: 60%;
		height: 2px;
		transition: ease-in-out 0.2s;
	}
	.header-burger:before {
		top: 10px;
		transition: ease-in-out 0.2s;
	}
	.header-burger:after {
		bottom: 10px;
		transition: ease-in-out 0.2s;
	}
	.header-burger.active {
		background: var(--orange);
	}
	.header-burger.active:before {
		transform: rotate(45deg);
		top: 20px;
		transition: ease-in-out 0.2s;
	}
	.header-burger.active:after {
		transform: rotate(-45deg);
		bottom: 20px;
		transition: ease-in-out 0.2s;
	}
	.header-burger.active .header-burger__line {
		transform: scale(0);
		transition: ease-in-out 0.2s;
	}

	.header-menu__wrapper.active {
		left: 65%;
		background: var(--black);
		border: 1px solid var(--white-02);
		border-bottom: 0;
		transition: ease-in-out 0.2s;
	}
}
@media (max-width: 480px) {
	.header-menu__wrapper.active {
		left: 40%;
	}
}
@media (max-width: 410px) {
	.header-menu__wrapper.active {
		left: 100px;
	}
}
@media (max-width: 340px) {
	.header-menu__wrapper.active {
		left: 50px;
	}
}
