.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 30px;
	margin: 0 auto;
	@media (max-width: 991px) {
		padding: 40px 10px;
	}

	&__block {
		display: flex;
		@media (max-width: 991px) {
			width: 100%;
			justify-content: space-between;
		}
	}

	&__block:first-of-type {
		flex-direction: column;
		@media (max-width: 991px) {
			align-items: center;
		}
	}

	&__name {
		font-family: var(--f-montserrat);
		font-size: 35px;
		color: var(--light-black);
		font-weight: 900;
		line-height: 1.2;
		@media (max-width: 991px) {
			font-size: 30px;
		}
	}

	&__description {
		font-family: var(--f-roboto);
		font-size: 15px;
		font-weight: 400;
		padding: 5px 0 0 2px;
		color: var(--grey-05);
		line-height: 1.2;
	}

	&__adv-block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 25px 0 0 30px;
		@media (max-width: 991px) {
			padding: 15px 20px 0;
		}
	}

	&__adv-block:first-of-type {
		@media (max-width: 991px) {
			align-items: flex-start;
		}
	}

	&__block-top-p {
		font-family: var(--f-roboto);
		font-size: 15px;
		font-weight: 400;
		color: var(--grey-06);
		margin-bottom: 7px;
		line-height: 1.2;
		@media (max-width: 991px) {
			margin-bottom: 8px;
		}
	}

	&__block-bottom-p {
		font-family: var(--f-roboto);
		font-size: 20px;
		color: var(--light-black);
		font-weight: 900;
		font-style: normal;
		line-height: 1.2;
		@media (max-width: 991px) {
			line-height: 1;
		}
	}

	&__phone-link {
		transition: ease-in-out 0.2s;
		font-size: 23px;
		line-height: 1.3;
		font-weight: 900;
	}

	&__phone-link:hover,
	&__phone-link:focus {
		color: var(--orange);
		transition: ease-in-out 0.2s;
	}
}
.sticky {
	position: fixed;
	top: 0;
	z-index: 10;
}
.header-menu {
	background-color: var(--black);
	width: 100%;
	display: flex;
	justify-content: center;

	@media (max-width: 991px) {
		position: absolute;
		top: 0;
		right: -100vw;
		width: 100vw;
		height: 100vh;
		z-index: 1;
	}

	&__wrapper {
		width: var(--block-width);
	}

	&__links-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	&__link-box {
		position: relative;
	}

	&__link-box::before {
		content: "|";
		color: var(--white);
	}

	&__link-box:hover &__popup-link-box {
		display: flex;
	}

	&__link {
		display: inline-flex;
		padding: 30px 25px 25px;
		color: var(--white);
		font-family: var(--f-roboto);
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.4;
		transition: ease-in-out 0.2s;
	}

	&__link:hover,
	&__link:focus {
		color: var(--orange);
		transition: ease-in-out 0.2s;
	}

	&__popup-link-box {
		display: none;
		position: absolute;
		top: 100%;
		z-index: 10;
		flex-direction: column;
		padding: 10%;
		min-width: 300px;
		border-top: none;
		background-color: var(--white);
	}

	&__popup-link-link {
		padding: 15px 25px;
		border: none;
		cursor: pointer;
		display: block;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 2px;
		text-decoration: none;
		color: #333;
		font-size: 15px;
		line-height: 1.4;
		position: relative;
		font-family: var(--f-roboto);
		margin-bottom: 1px;
		transition: ease-in-out 0.05s;
	}

	&__popup-link-link:hover {
		background: var(--black);
		color: #fff;
		transition: ease-in-out 0.05s;
	}
}

.nav {
	display: none;

	@media (max-width: 991px) {
		display: flex;
		width: 60px;
		height: 60px;
		padding: 10px;
		position: fixed;
		right: 0;
		top: 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 11;
		cursor: pointer;
		background-color: var(--orange);
	}

	&_active > &__line {
		@media (max-width: 991px) {
			&:nth-child(1) {
				position: absolute;
				transform: rotate(-45deg) translate(0px, -50%);
				transition: all 0.3s ease 0s;
				top: 60%;
				left: 40%;
				width: 40%;
			}
			&:nth-child(2) {
				width: 0;
			}
			&:nth-child(3) {
				position: absolute;
				transform: rotate(45deg) translate(0px, 50%);
				transition: all 0.3s ease 0s;
				bottom: 60%;
				left: 40%;
				width: 40%;
			}
		}
	}

	&__line {
		width: 80%;
		margin: 3px auto;
		height: 5%;
		background-color: var(--light-black);
		transition: all 0.3s ease 0s;
	}
}
