@import "_reset"; //* подключение файла _reset.scss
@import "_normalize"; //* подключение файла _normalize.scss
@import "_slick"; //* подключение файла _slick.scss
@import "_header"; //* подключение файла _header.scss
@import "_footer"; //* подключение файла _footer.scss
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
:root {
	--block-width: 1200px;
	--f-roboto: "Roboto", sans-serif;
	--f-montserrat: "Montserrat", sans-serif;
	--black: #262626;
	--light-black: #333;
	--pure-black: #212121;
	--black-1f: #1f1f1f;
	--grey-text: rgba(51, 51, 51, 0.6);
	--grey-05: rgba(0, 0, 0, 0.5);
	--grey-06: rgba(0, 0, 0, 0.6);
	--white: #fff;
	--white-dark: rgba(38, 38, 38, 0.03);
	--white-02: rgba(255, 255, 255, 0.2);
	--white-05: rgba(255, 255, 255, 0.5);
	--white-07: rgba(255, 255, 255, 0.7);
	--orange: #da9e32;
	--orange-40: rgba(218, 158, 50, 0.4);
	--orange-60: rgba(218, 158, 50, 0.6);
	--orange-80: rgba(218, 158, 50, 0.8);
	--fz-title: 35px;
	--fz-descr: 18px;
	@media (max-width: 1199px) {
		--block-width: 1024px;
	}
	@media (max-width: 1024px) {
		--block-width: 991px;
	}
	@media (max-width: 991px) {
		--block-width: 100%;
		--fz-title: 30px;
		--fz-descr: 16px;
	}
	@media (max-width: 767px) {
		--fz-title: 25px;
	}
	@media (max-width: 480px) {
		--fz-title: 24px;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	background: var(--white-dark);
	transition: ease-in-out 0.2s;
}

html,
body {
	scrollbar-color: var(--orange) var(--white-dark);
	scrollbar-width: thin;
}

body.noscroll {
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 15px;
	height: 8px;
	background-color: var(--white-07);
}

::-webkit-scrollbar-thumb {
	background-color: var(--orange-60);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--orange);
}

.grecaptcha-badge {
	visibility: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.main {
	flex: 1 1 auto;
	background: var(--white-dark);
}

.link-b {
	color: var(--light-black);
}

.link-w {
	color: var(--white);
}

.clear-link::before,
.clear-link::after {
	content: none !important;
}

.wrapper-w {
	width: var(--block-width);
	margin: 0 auto;
}

.title {
	font-family: var(--f-montserrat);
	color: var(--white);
	line-height: 1.4;
	text-decoration: none;
	font-weight: 800;
}

.title-b {
	font-family: var(--f-montserrat);
	color: var(--black-1f);
	line-height: 1.4;
	text-decoration: none;
	font-weight: 800;
}

.description {
	font-size: var(--fz-descr);
	font-family: var(--f-montserrat);
	color: var(--black-1f);
	font-weight: 900;
}

.button-link {
	padding: 20px 40px;
	border: none;
	display: inline-flex;
	font-family: Roboto, sans-serif;
	justify-content: center;
	font-size: 15px;
	color: var(--black);
	letter-spacing: 0.3px;
	text-decoration: none;
	background: var(--orange-40);
	font-weight: bold;
	border-radius: 2px;
	transition: ease-in-out 0.2s;

	@media (max-width: 1024px) {
		padding: 13px 20px;
		font-size: 14px;
	}
	@media (max-width: 767px) {
		padding: 10px 18px;
		font-size: 13px;
	}
	@media (max-width: 610px) {
		padding: 7px 15px;
		font-size: 12px;
	}
}

.button-link:hover {
	background: var(--orange);
	box-shadow: inset 0px -3px 0px var(--orange-40), 0px 5px 20px var(--orange-40);
	transition: ease-in-out 0.2s;
}

.main-slider {
	&__item {
		position: relative;
	}

	&__text {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: auto;
		inset: 0;
		z-index: 10;
		width: 100%;
		max-width: 50%;
		@media (max-width: 767px) {
			min-width: 85%;
		}
	}

	&__text-header {
		color: var(--white);
		margin-bottom: 10px;
		text-align: center;
		font-size: 40px;
		@media (max-width: 1024px) {
			font-size: 35px;
		}
		@media (max-width: 991px) {
			font-size: 30px;
		}
		@media (max-width: 767px) {
			font-size: 25px;
			font-weight: 500;
			margin-bottom: 0;
		}
		@media (max-width: 480px) {
			font-size: 23px;
		}
		@media (max-width: 410px) {
			font-size: 20px;
		}
	}

	&__text-description {
		text-align: center;
		color: var(--white);
		font-family: var(--f-montserrat);
		color: #fff;
		line-height: 1.4;
		text-decoration: none;
		font-size: 19px;
		margin-bottom: 20px;
		font-weight: 100;
		letter-spacing: 1px;
		@media (max-width: 1024px) {
			font-size: 16px;
		}
		@media (max-width: 991px) {
			font-size: 14px;
		}
		@media (max-width: 640px) {
			margin-bottom: 10px;
			font-size: 12px;
		}
	}

	&__link {
		color: var(--white);
	}

	&__img-item {
		background: rgba(0, 0, 0, 1);
	}

	&__img {
		opacity: 0.6;
		object-fit: cover;
		width: 100%;
		max-height: 800px;
	}

	&__button {
		background: var(--orange);
		opacity: 0.8;
		border-radius: 2px;
		transition: ease-in-out 0.2s;

		@media (max-width: 480px) {
			display: none;
		}
	}

	&__button:hover {
		opacity: 1;
		transition: ease-in-out 0.2s;
	}
}

.production {
	&__title {
		text-align: center;
		padding: 50px 0 0;
		font-size: var(--fz-title);
		position: relative;
		margin-bottom: 0;
	}

	&__title::before {
		content: "";
		position: absolute; /* Абсолютное позиционирование */
		left: calc(50% - 18px);
		right: calc(50% - 18px);
		top: 20px; /* Положение треугольника */
		border: 10px solid transparent; /* Прозрачные границы */
		border: 18px solid transparent;
		border-top: 18px solid var(--orange);
	}

	&__description {
		text-align: center;
		font-family: var(--f-montserrat);
		color: var(--black-1f);
		font-size: var(--fz-descr);
		line-height: 1.4;
		padding-bottom: 50px;
		font-weight: normal;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		padding: 0 15px 30px;
	}

	&__item {
		width: calc(100% / 3);
		padding: 0 0 30px;
		@media (max-width: 991px) {
			width: 50%;
		}
		@media (max-width: 640px) {
			width: 100%;
		}
	}

	&__elem {
		margin: 0 15px 15px;
		justify-content: flex-start;
		background: var(--white);
		display: flex;
		flex-direction: column;
		padding-bottom: 40px;
		transition: ease-in-out 0.2s;
		height: 100%;
		@media (max-width: 640px) {
			padding-bottom: 20px;
		}
	}

	&__elem:hover {
		box-shadow: 0 5px 15px var(--grey-05);
		transition: ease-in-out 0.2s;
	}

	&__image {
		object-fit: cover;
		width: 100%;
		height: 150px;
	}

	&__number {
		margin: -30px 40px 0;
		border: 5px solid #fff;
		text-align: center;
		display: flex;
		position: relative;
		font-family: var(--f-roboto);
		color: var(--white);
		justify-content: center;
		text-decoration: none;
		font-size: 21px;
		align-items: center;
		padding-top: 0.02px;
		padding-bottom: 0.02px;
		background: var(--orange);
		border-radius: 250px;
		min-height: 60px;
		width: 60px;
		font-weight: bold;
		cursor: default;
		@media (max-width: 991px) {
			font-size: 18px;
		}
	}

	&__name {
		margin: 0 40px;
		font-weight: bold;
		display: flex;
		font-family: var(--f-montserrat);
		color: var(--light-black);
		justify-content: flex-start;
		font-size: 25px;
		padding-bottom: 15px;
		align-items: flex-start;
		padding-top: 20px;
		@media (max-width: 991px) {
			font-size: 22px;
		}
	}

	&__text {
		font-size: 15px;
		font-family: var(--f-roboto);
		color: var(--grey-text);
		line-height: 1.4;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0 40px;
	}

	&__more {
		text-align: right;
		display: flex;
		justify-content: flex-end;
		padding-top: 20px;
		margin: 0 40px;
	}

	&__more-link {
		padding: 0 20px;
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		text-align: left;
		cursor: pointer;
		font-family: var(--f-roboto);
		color: var(--orange-80);
		font-size: 16px;
		position: relative;
		transition: ease-in-out 0.2s;
	}

	&__more-link:hover {
		color: var(--orange);
		transition: ease-in-out 0.2s;
	}

	&__more-link:after {
		content: "";
		position: absolute; /* Абсолютное позиционирование */
		right: -20px;
		//bottom: -20px; /* Положение треугольника */
		border: 5px solid transparent; /* Прозрачные границы */
		border: 4px solid transparent;
		border-left: 4px solid var(--orange-80);
	}

	&__more-link:hover:after {
		border-left: 4px solid var(--orange);
	}
}
