@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  bottom: 10%;
  position: absolute;
}

.slick-dots button {
  display: none;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--white);
  opacity: 0.5;
  margin: 0 2px;
}

.slick-dots li.slick-active {
  opacity: 1;
  background: var(--orange);
}

.slick-next,
.slick-prev {
  position: absolute;
  top: calc(50% - 20px);
  height: 40px;
  width: 40px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.slick-next {
  right: 20%;
}

.slick-prev {
  left: 20%;
}

.slick-prev img {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  margin-left: -1px;
}

.slick-next img,
.slick-prev img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .slick-dots {
    bottom: 10px;
  }
  .slick-next {
    right: 0%;
  }
  .slick-prev {
    left: 0%;
  }
  .slick-next img,
  .slick-prev img {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 480px) {
  .slick-next img,
  .slick-prev img {
    width: 10px;
    height: 10px;
  }
  .slick-dots {
    bottom: 7px;
  }
  .slick-dots li {
    width: 7px;
    height: 7px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 30px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .header {
    padding: 40px 10px;
  }
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .header__block {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__block:first-of-type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  .header__block:first-of-type {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__name {
  font-family: var(--f-montserrat);
  font-size: var(--fz-title);
  color: var(--light-black);
  font-weight: 900;
  line-height: 1.2;
}

@media (max-width: 991px) {
  .header__name {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .header__name {
    font-size: 25px;
  }
}

.header__description {
  font-family: var(--f-roboto);
  font-size: 15px;
  font-weight: 400;
  padding: 5px 0 0 2px;
  color: var(--grey-05);
  line-height: 1.2;
}

.header__adv-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 25px 0 0 30px;
}

@media (max-width: 991px) {
  .header__adv-block {
    padding: 15px 20px 0;
  }
}

@media (max-width: 480px) {
  .header__adv-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 991px) {
  .header__adv-block:first-of-type {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .header__adv-block:first-of-type {
    display: none;
  }
}

.header__block-top-p {
  font-family: var(--f-roboto);
  font-size: 15px;
  font-weight: 400;
  color: var(--grey-06);
  margin-bottom: 7px;
  line-height: 1.2;
}

@media (max-width: 991px) {
  .header__block-top-p {
    margin-bottom: 8px;
  }
}

@media (max-width: 640px) {
  .header__block-top-p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .header__block-top-p {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
  }
}

.header__block-bottom-p {
  font-family: var(--f-roboto);
  font-size: 20px;
  color: var(--light-black);
  font-weight: 900;
  font-style: normal;
  line-height: 1.2;
}

@media (max-width: 991px) {
  .header__block-bottom-p {
    line-height: 1;
  }
}

@media (max-width: 640px) {
  .header__block-bottom-p {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .header__block-bottom-p {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__phone-link {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  font-size: 23px;
  line-height: 1.3;
  font-weight: 900;
}

@media (max-width: 640px) {
  .header__phone-link {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .header__phone-link {
    font-size: 19px;
  }
}

.header__phone-link:hover, .header__phone-link:focus {
  color: var(--orange);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-menu {
  background-color: var(--black);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    background-color: inherit;
  }
}

.header-menu__wrapper {
  width: var(--block-width);
}

@media (max-width: 768px) {
  .header-menu__wrapper {
    left: 100%;
    position: absolute;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
}

.header-menu__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .header-menu__links-wrapper {
    display: block;
  }
}

.header-menu__link-box {
  position: relative;
}

.header-menu__link-box::before {
  content: "|";
  color: var(--white);
}

@media (max-width: 768px) {
  .header-menu__link-box::before {
    content: "";
  }
}

.header-menu__link-box:hover .header-menu__popup-link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 30px 25px 25px;
  color: var(--white);
  font-family: var(--f-roboto);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

@media (max-width: 991px) {
  .header-menu__link {
    padding: 20px 15px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header-menu__link {
    border-bottom: 1px solid var(--white-02);
    width: 100%;
  }
}

.header-menu__link:hover, .header-menu__link:focus {
  color: var(--orange);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.header-menu__popup-link-box {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
  min-width: 300px;
  border-top: none;
  background-color: var(--white);
}

@media (max-width: 768px) {
  .header-menu__popup-link-box {
    display: block;
    position: relative;
    padding: 0;
    background-color: inherit;
  }
}

.header-menu__popup-link-link {
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  display: block;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 2px;
  text-decoration: none;
  color: #333;
  font-size: 15px;
  line-height: 1.4;
  position: relative;
  font-family: var(--f-roboto);
  margin-bottom: 1px;
  -webkit-transition: ease-in-out 0.05s;
  transition: ease-in-out 0.05s;
}

@media (max-width: 768px) {
  .header-menu__popup-link-link {
    color: var(--white);
    background-color: var(--orange-40);
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--f-roboto);
    font-weight: bold;
    border-bottom: 1px solid var(--white-02);
    padding-left: 15px;
  }
}

.header-menu__popup-link-link:hover {
  background: var(--black);
  color: #fff;
  -webkit-transition: ease-in-out 0.05s;
  transition: ease-in-out 0.05s;
}

.header-burger {
  display: none;
}

.overlay {
  display: none;
  right: 100%;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

@media (max-width: 768px) {
  .header-burger {
    margin-left: auto;
    position: relative;
    width: 50px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--orange-80);
  }
  .header-burger__line {
    background-color: var(--white);
    width: 60%;
    height: 2px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .overlay.active {
    display: block;
    position: absolute;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: var(--black-1f);
    opacity: 0.7;
    filter: alpha(opacity=50);
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .header-burger:before,
  .header-burger:after {
    content: "";
    background-color: var(--white);
    position: absolute;
    width: 60%;
    height: 2px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .header-burger:before {
    top: 10px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .header-burger:after {
    bottom: 10px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .header-burger.active {
    background: var(--orange);
  }
  .header-burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .header-burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 20px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .header-burger.active .header-burger__line {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .header-menu__wrapper.active {
    left: 65%;
    background: var(--black);
    border: 1px solid var(--white-02);
    border-bottom: 0;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
}

@media (max-width: 480px) {
  .header-menu__wrapper.active {
    left: 40%;
  }
}

@media (max-width: 410px) {
  .header-menu__wrapper.active {
    left: 100px;
  }
}

@media (max-width: 340px) {
  .header-menu__wrapper.active {
    left: 50px;
  }
}

.breadcrumbs {
  background: var(--white-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumbs__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin: 20px;
  padding: 40px 20px 20px;
}

.breadcrumbs__link {
  color: var(--orange);
  line-height: 1.2;
  font-family: var(--f-roboto);
  font-size: 15px;
}

.breadcrumbs__link-border {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  color: var(--light-black);
  margin: 0 5px;
}

.breadcrumbs__item {
  line-height: 1.2;
  font-family: var(--f-roboto);
  font-size: 15px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: var(--black);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.footer__contact-us {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media (max-width: 991px) {
  .footer__contact-us {
    padding: 40px 30px;
  }
}

.footer__form-wrapper {
  width: 50%;
  padding: 0 5px;
}

@media (max-width: 991px) {
  .footer__form-wrapper {
    width: 100%;
  }
  .footer__form-wrapper div {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.footer__form-name {
  font-size: var(--fz-title);
  margin-bottom: 30px;
  padding-bottom: 50px;
  position: relative;
}

@media (max-width: 991px) {
  .footer__form-name {
    margin-bottom: 0;
  }
}

.footer__form-name::after {
  content: "";
  position: absolute;
  /* Абсолютное позиционирование */
  left: 0;
  bottom: -18px;
  /* Положение треугольника */
  border: 10px solid transparent;
  /* Прозрачные границы */
  border: 18px solid transparent;
  border-top: 18px solid var(--orange);
}

@media (max-width: 991px) {
  .footer__form-name::after {
    left: unset;
    bottom: 0;
  }
}

.footer__form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
  font-family: var(--f-roboto);
  color: var(--white-05);
  line-height: 1.4;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 30px;
}

@media (max-width: 991px) {
  .footer__form-text {
    font-size: 16px;
  }
}

.footer__phone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  color: #fff;
  line-height: 1.4;
  -moz-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.footer__phone-link:hover {
  color: var(--orange);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.footer__form {
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__form-input {
  border-bottom: 1px solid var(--white-02);
  width: 100%;
  min-width: 100px;
  min-height: 22px;
  outline: none;
  font-family: var(--f-roboto);
  color: var(--white-05);
  line-height: 1.2;
  font-size: 17px;
  font-weight: normal;
  height: 50px;
  margin-bottom: 10px;
  padding: 0 10px 5px 0;
  background: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.footer__form-input:hover {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  border-bottom: 1px solid var(--white);
}

.footer__form-input:focus {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  color: var(--white);
}

.footer__form-input:focus::-webkit-input-placeholder {
  color: var(--white);
}

.footer__form-input:focus:-ms-input-placeholder {
  color: var(--white);
}

.footer__form-input:focus::-ms-input-placeholder {
  color: var(--white);
}

.footer__form-input:focus::placeholder {
  color: var(--white);
}

.footer__form-btn-wrapper {
  margin-top: 20px;
}

.footer__form-btn {
  background: var(--orange-80) !important;
}

.footer__form-btn:hover {
  background: var(--orange) !important;
}

.footer__map-wrapper {
  width: 45%;
  padding: 0 5px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .footer__map-wrapper {
    display: none;
  }
}

.footer__footer__map-frame {
  width: 100%;
}

.footer__go-top-wrapper {
  padding: 0 5px;
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .footer__go-top-wrapper {
    display: none;
  }
}

.footer__go-top-icon {
  width: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.footer__copyrights {
  background: var(--pure-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copyrights-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__copyright-block {
  width: 50%;
  padding: 50px 0;
}

@media (max-width: 991px) {
  .footer__copyright-block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 15px 0;
  }
}

.footer__copyright-item {
  width: 100%;
  margin: 3px 0 auto;
  font-family: var(--f-roboto);
  color: var(--white-07);
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15px;
}

@media (max-width: 991px) {
  .footer__copyright-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.footer__copyright-block:last-of-type .footer__copyright-item {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

@media (max-width: 991px) {
  .footer__copyright-block:last-of-type .footer__copyright-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.footer__copyright-item a {
  display: contents;
  color: inherit;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.footer__copyright-item a:hover {
  color: var(--orange);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

:root {
  --block-width: 1200px;
  --f-roboto: "Roboto", sans-serif;
  --f-montserrat: "Montserrat", sans-serif;
  --black: #262626;
  --light-black: #333;
  --pure-black: #212121;
  --black-1f: #1f1f1f;
  --grey-text: rgba(51, 51, 51, 0.6);
  --grey-05: rgba(0, 0, 0, 0.5);
  --grey-06: rgba(0, 0, 0, 0.6);
  --grey-73: #737373;
  --white: #fff;
  --white-dark: rgba(38, 38, 38, 0.03);
  --white-02: rgba(255, 255, 255, 0.2);
  --white-05: rgba(255, 255, 255, 0.5);
  --white-07: rgba(255, 255, 255, 0.7);
  --orange: #da9e32;
  --orange-40: rgba(218, 158, 50, 0.4);
  --orange-60: rgba(218, 158, 50, 0.6);
  --orange-80: rgba(218, 158, 50, 0.8);
  --fz-title: 35px;
  --fz-descr: 18px;
  --content-padding: 0 20px 40px;
  --marker: "\2981";
}

@media (max-width: 1199px) {
  :root {
    --block-width: 1024px;
  }
}

@media (max-width: 1024px) {
  :root {
    --block-width: 991px;
  }
}

@media (max-width: 991px) {
  :root {
    --block-width: 100%;
    --fz-title: 30px;
    --fz-descr: 16px;
  }
}

@media (max-width: 768px) {
  :root {
    --fz-title: 25px;
  }
}

@media (max-width: 480px) {
  :root {
    --fz-title: 24px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: var(--white-dark);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

html,
body {
  scrollbar-color: var(--orange) var(--white-dark);
  scrollbar-width: thin;
}

body.noscroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  height: 8px;
  background-color: var(--white-07);
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange-60);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange);
}

article {
  padding: var(--content-padding);
}

b {
  font-weight: 700;
}

.grecaptcha-badge {
  visibility: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: var(--white-dark);
}

.link-b {
  color: var(--light-black);
}

.link-w {
  color: var(--white);
}

.clear-link::before,
.clear-link::after {
  content: none !important;
}

.wrapper-w {
  width: var(--block-width);
  margin: 0 auto;
}

.title {
  font-family: var(--f-montserrat);
  color: var(--white);
  line-height: 1.4;
  text-decoration: none;
  font-weight: 800;
}

.title-b {
  font-family: var(--f-montserrat);
  color: var(--black-1f);
  line-height: 1.4;
  text-decoration: none;
  font-weight: 800;
}

.title-r {
  font-family: var(--f-roboto);
  color: var(--black-1f);
  line-height: 1.4;
  text-decoration: none;
  font-weight: 800;
}

.description {
  font-size: var(--fz-descr);
  font-family: var(--f-montserrat);
  color: var(--black-1f);
  font-weight: 900;
}

.button-link {
  padding: 20px 40px;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  color: var(--black);
  letter-spacing: 0.3px;
  text-decoration: none;
  background: var(--orange-40);
  font-weight: bold;
  border-radius: 2px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

@media (max-width: 1024px) {
  .button-link {
    padding: 13px 20px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .button-link {
    padding: 10px 18px;
    font-size: 13px;
  }
}

.button-link:hover {
  background: var(--orange);
  -webkit-box-shadow: inset 0px -3px 0px var(--orange-40), 0px 5px 20px var(--orange-40);
          box-shadow: inset 0px -3px 0px var(--orange-40), 0px 5px 20px var(--orange-40);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.main-slider__item {
  position: relative;
}

.main-slider__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  inset: 0;
  z-index: 10;
  width: 100%;
  max-width: 50%;
}

@media (max-width: 768px) {
  .main-slider__text {
    min-width: 85%;
  }
}

.main-slider__text-header {
  color: var(--white);
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 1024px) {
  .main-slider__text-header {
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  .main-slider__text-header {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .main-slider__text-header {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .main-slider__text-header {
    font-size: 23px;
    margin-bottom: 10px;
  }
}

.main-slider__text-description {
  text-align: center;
  color: var(--white);
  font-family: var(--f-montserrat);
  color: #fff;
  line-height: 1.4;
  text-decoration: none;
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .main-slider__text-description {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .main-slider__text-description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .main-slider__text-description {
    display: none;
  }
}

.main-slider__link {
  color: var(--white);
}

.main-slider__img-item {
  background: black;
}

@media (max-width: 768px) {
  .main-slider__img-item_wide {
    display: none !important;
  }
}

.main-slider__img-item_small {
  display: none;
}

@media (max-width: 768px) {
  .main-slider__img-item_small {
    display: block !important;
  }
}

.main-slider__img {
  opacity: 0.6;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 800px;
}

.main-slider__button {
  background: var(--orange);
  opacity: 0.8;
  border-radius: 2px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.main-slider__button:hover {
  opacity: 1;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.production__title {
  text-align: center;
  padding: 50px 0 0;
  font-size: var(--fz-title);
  position: relative;
  margin-bottom: 0;
}

.production__title::before {
  content: "";
  position: absolute;
  /* Абсолютное позиционирование */
  left: calc(50% - 18px);
  right: calc(50% - 18px);
  top: 20px;
  /* Положение треугольника */
  border: 10px solid transparent;
  /* Прозрачные границы */
  border: 18px solid transparent;
  border-top: 18px solid var(--orange);
}

.production__description {
  text-align: center;
  font-family: var(--f-montserrat);
  color: var(--black-1f);
  font-size: var(--fz-descr);
  line-height: 1.4;
  padding-bottom: 50px;
  font-weight: normal;
}

.production__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 30px;
}

.production__item {
  width: calc(100% / 3);
  padding: 0 0 30px;
}

@media (max-width: 991px) {
  .production__item {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .production__item {
    width: 100%;
  }
}

.production__elem {
  margin: 0 15px 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  height: 100%;
}

@media (max-width: 640px) {
  .production__elem {
    padding-bottom: 20px;
  }
}

.production__elem:hover {
  -webkit-box-shadow: 0 5px 15px var(--grey-05);
          box-shadow: 0 5px 15px var(--grey-05);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.production__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
}

.production__number {
  margin: -30px 40px 0;
  border: 5px solid #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: var(--f-roboto);
  color: var(--white);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.02px;
  padding-bottom: 0.02px;
  background: var(--orange);
  border-radius: 250px;
  min-height: 60px;
  width: 60px;
  font-weight: bold;
  cursor: default;
}

@media (max-width: 991px) {
  .production__number {
    font-size: 18px;
  }
}

.production__name {
  margin: 0 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--f-montserrat);
  color: var(--light-black);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 25px;
  padding-bottom: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}

@media (max-width: 991px) {
  .production__name {
    font-size: 22px;
  }
}

.production__text {
  font-size: 15px;
  font-family: var(--f-roboto);
  color: var(--grey-text);
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 40px;
}

.production__more {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 20px;
  margin: 0 40px;
}

.production__more-link {
  padding: 0 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  cursor: pointer;
  font-family: var(--f-roboto);
  color: var(--orange-80);
  font-size: 16px;
  position: relative;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.production__more-link:hover {
  color: var(--orange);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.production__more-link:after {
  content: "";
  position: absolute;
  /* Абсолютное позиционирование */
  right: -20px;
  border: 5px solid transparent;
  /* Прозрачные границы */
  border: 4px solid transparent;
  border-left: 4px solid var(--orange-80);
}

.production__more-link:hover:after {
  border-left: 4px solid var(--orange);
}

.content {
  font-family: var(--f-roboto);
}

.content__title {
  font-family: var(--f-roboto);
  padding-bottom: 20px;
  margin-top: 0;
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.content__text-wrapper {
  margin: 20px 0 0 0;
  font-family: Roboto, sans-serif;
  color: var(--grey-73);
  line-height: 1.6;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.content__text-p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

@media (max-width: 768px) {
  .content__text-p {
    font-size: 0.9em;
  }
}

.content__text-h3 {
  font-family: var(--f-roboto);
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 900;
  color: var(--light-black);
}

.content__list {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 1em;
          padding-inline-start: 1em;
}

.content__list-item {
  margin: 1em;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .content__list-item {
    font-size: 0.9em;
  }
}

.content__list-item::marker {
  content: var(--marker);
  font-size: inherit;
  color: var(--light-black);
  padding-right: 5px;
  font-size: 1em;
  font-weight: 700;
}

.contacts {
  font-family: var(--f-roboto);
  color: var(--grey-73);
}

.contacts__title {
  padding-bottom: 20px;
  margin-top: 0;
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.contacts__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item-title {
  line-height: 1.6;
  font-size: 14px;
}

.contacts__item-title-b {
  display: block;
  padding-bottom: 5px;
}

.contacts__link {
  color: var(--grey-73);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 12px;
}

.contacts__link:hover {
  color: var(--orange);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.contacts__worktime {
  font-size: 13px;
}

.contacts__location {
  font-size: 13px;
}

.contacts__map {
  margin: 20px 0;
  background: var(--pure-black);
  border-radius: 5px;
}

.contacts__map iframe {
  opacity: 0.7;
  width: 100%;
  max-height: 200px;
}
